@import 
url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background: black;
    font-family: Poppins;
    color: white
}

.g1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.images1 img {
    width: 150px;
}

.group1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: 2em 1em 0;
    z-index: 55;
}

.group1 button {
    padding: 5px 30px;
    font-weight: bold;
    font-family: Poppins;
    z-index: 4444;
    border: 2px solid red;
}

.group1 button:hover {
    background: white;
    border: 2px solid black;
}

.ask {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    z-index: 5555555;
    padding: 1em 0;
    text-align: center;
    position: relative;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#btn1, #btn2 {
    padding: 5px 30px;
    font-weight: bold;
    font-family: Poppins;
}

#btn1 {
    border: 2px solid black;
}

#btn1:hover, #btn2:hover {
    background: white;
    border: 2px solid black;
}

#btn2 {
    border: 2px solid red;
}

.crush {
    font-size: 25px;
    margin-bottom: 2em;
    font-weight: bold;
}

@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-20px); }
    60% { transform: translateY(-15px); }
}

/* BUTTONS OPACITY */
#btt1, #btt2, #btt3, #btt4, #btt5, #btt6, #btt7, #btt8, #btt9, #btt10, #btt11, #btt12,
#bbtt1, #bbtt2, #bbtt3, #bbtt4, #bbtt5, #bbtt6, #bbtt7, #bbtt8, #bbtt9, #bbtt10, #bbtt11, #bbtt12 {
    opacity: 0;
}

.fff {
    display: flex;
    justify-content: center;
    align-items: center;
}